<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Mercado Liebre</title>
    <!-- /*fuente roboto*/ -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- hoja de estilo -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel=stylesheet href="/css/styles.css">
</head>

<body>
    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Mercado Liebre</title>
    <!-- /*fuente roboto*/ -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- hoja de estilo -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel=stylesheet href="/css/styles.css">
</head>

<body>
    <header>
        <div class="main-header-top-bar">
            <img src='/images/logo-mercado-liebre.svg' alt='Logo Mercado Liebre' class="logo">
            <div class="barra-busqueda">
                <form action="" method="get">
                    <input type="text" name="q" id="preg" class="busqueda" placeholder="Buscar productos, marcas">
                    <button type="submit" id="lupa"> <i class="fa-solid fa-magnifying-glass"></i> </button>
                </form>
            </div>
            <p class="header-cuotas"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de
                crédito </p>
        </div>
        <nav class="main-header-bottom-bar">
            <ul class="left-nav-bar">
                <li> <a href=''>Ofertas</a> </li>
                <li> <a href=''>Tiendas Oficiales</a> </li>
                <li> <a href=''>Vender</a> </li>
                <li> <a href=''>Ayuda</a> </li>
            </ul class="right-nav-bar">
            <ul>
                <li> <a href='/register'>Creá tu cuenta <i class="fa-regular fa-id-card"></i></a> </li>
                <li> <a href='/login'>Ingresá <i class="fa-solid fa-right-to-bracket"></i> </a> </li>
                <li> <a href=''>Mis compras <i class="fa-solid fa-basket-shopping"></i> </a> </li>
            </ul>
        </nav>
        <div class="fa-solid fa-bars" id="menu"></div>
    </header>

    <main class="formularios">
        <form action="/" method="get">
            <div>
                <input type="text" name="nombreCompleto" placeholder="Nombre y apellido" id="text" minlength= "5" required>
            </div>
            <div>
                <input type="text" name="nombreUsuario" placeholder="Nombre de usuario" id="text" required>
            </div>
            <div id="nacimiento">
                <label for="nacimiento" id="Fecha">Fecha de Nacimiento</label>
                <input type="date" name="nacimiento" id="text" required>
            </div>
            <div>
                <input type="text" name="domicilio" placeholder="Domicilio" id="text" required>
            </div>
            <div id="radio">
                <label for="perfilDeUsuario" id="perfilUsuario">Perfil del usuario</label>
                <div>
                    <input type="radio" name="perfilDeUsuario" id="Comprador" value="comprador"> <label for="Comprador"
                        id="opcionesRadio">Comprador</label>
                    <input type="radio" name="perfilDeUsuario" id="Vendedor" value="vendedor"> <label for="Vendedor"
                        id="opcionesRadio">Vendedor</label>
                </div>
            </div>
            <div>
                <label for="categoriasInteres" id="categoriasInteres">Intereses</label>
                <div id="checkbox">
                    <div><input type="checkbox" name="categoriasDeInteres" id="Electro" value="Electro"> <label
                            for="Electro">Electro</label> </div>
                    <div><input type="checkbox" name="categoriasDeInteres" id="Moda" value="Moda"> <label
                            for="Moda">Moda</label></div>
                    <div><input type="checkbox" name="categoriasDeInteres" id="Hogar" value="Hogar"> <label
                            for="Hogar">Hogar</label></div>
                    <div><input type="checkbox" name="categoriasDeInteres" id="Jugueteria" value="Juguetería"> <label
                            for="Jugueteria">Juguetería</label></div>
                    <div><input type="checkbox" name="categoriasDeInteres" id="vidaSana" value="Vida sana"> <label
                            for="vidaSana">Vida sana</label></div>
                </div>
            </div>
            <div>
                <label for="imagenPerfil">Foto de Usuario</label>
                <input type="file" name="imagenPerfil">
            </div>
            <div>
                <input type="password" name="contraseña" placeholder="Contraseña" id="text" required>
            </div>
            <div>
                <input type="password" name="contraseña2" placeholder="Confirmar Contraseña" id="text" required>
            </div>
            <div>
                <button type="submit">Enviar</button>
            </div>
            <div>
                <button type="reset">Borrar</button>
            </div>
        </form>
    </main>